<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="com.dao.mapper.UserMapper">
    <resultMap type="com.pojo.User" id="user">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name" />
        <result column="password" property="passwd" />
    </resultMap>
    <insert id="insert" parameterType="com.pojo.User">
        insert into user(`id`, `user_id`, `name`, `password`) VALUES (null,#{userId},#{name},#{passwd})
    </insert>
</mapper>